@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Scripts
{
    <script>

        $('.sendMoney').click(function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Account/SendMoney',
                type: 'POST',
                data: $(this).parent().find("input").serialize(),
                success: function (data) {
                    console.log(data);
                }
            });
        });

    </script>
}

<div class="row">
    <div class="col-md-12">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-action="Login" asp-controller="Account" class="btn btn-default">Coinbase Login</a>
        }
        else
        {

            <div class="row">
                <div class="col-md-2">
                    <img src="@Model.CoinbaseAvatar" alt="" class="img-thumbnail" />
                </div>
                <div class="col-md-10">
                    <h4>@Model.CoinbaseName</h4>
                    <h4>Accounts</h4>
                    <ul>
                        @foreach (var account in Model.AccountDetails)
                        {
                            <li>
                                Address: @account.Addresses.FirstOrDefault()?.Address
                                Has: @account.Account.Balance.Amount @account.Account.Balance.Currency
                            </li>
                            <li>
                                <input type="hidden" name="accountId" value="@account.Account.Id" />
                                <input type="hidden" name="currency" value="@account.Account.Balance.Currency" />
                                <label>To:</label>
                                <input name="toAddress" type="text" />
                                <label>Two Factor:</label>
                                <input name="twoFactor" type="text" />
                                <label>Description</label>
                                <input name="description" type="text" />
                                <label>idem</label>
                                <input name="idem" type="text" />
                                <button class="sendMoney"> Send Money</button>
                            </li>
                          }
                    </ul>
                </div>
            </div>
            <div class="row">
                <a asp-action="Logout" asp-controller="Account" class="btn btn-default">Logout</a>
            </div>
        }
    </div>
</div>
